<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="../build/app.4c45a463.css">
        <link rel="stylesheet" href="../css/config.css">
        <!-- All css files are included here. -->
        <!-- Bootstrap fremwork main css -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <!-- Owl Carousel main css -->
        <link rel="stylesheet" href="../css/owl.carousel.min.css">
        <link rel="stylesheet" href="../css/owl.theme.default.min.css">
        <!-- This core.css file contents all plugings css file. -->
        <link rel="stylesheet" href="../css/core.css">
        <!-- Theme shortcodes/elements style -->
        <link rel="stylesheet" href="../css/shortcode/shortcodes.css">
        <!-- Theme main style -->
        <link rel="stylesheet" href="../css/style.css">
        <!-- Responsive css -->
        <link rel="stylesheet" href="../css/responsive.css">
        <!-- User style -->
        <link rel="stylesheet" href="../css/custom.css">
    {% endblock %}
    <!-- Modernizr JS -->
    <script src="../js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

    {% block header %}
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="wrapper fixed__footer">
        <!-- Start Header Style -->
        <header id="header" class="htc-header header--3 bg__white">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
                            <div class="logo">
                                <a href="{{ path('main') }}">
                                    <img src="../images/logo/logo.png" alt="logo">
                                </a>
                            </div>
                        </div>
                        <!-- Start MAinmenu Ares -->
                        <div class="col-md-8 col-lg-8 col-sm-6 col-xs-6">
                            <nav class="mainmenu__nav hidden-xs hidden-sm">
                                <ul class="main__menu">
                                    <li><a href="{{ path('main') }}">Главная</a></li>
                                    <li><a href="{{ path('news') }}">Новости</a></li>
                                    <li><a href="{{ path('contacts') }}">Контакты</a></li>
                                    <li><a href="{{ path('catalog') }}">Каталог</a></li>
                                    <li><a href="{{ path('question') }}">Вопрос-ответ</a></li>
                                </ul>
                            </nav>
                            <div class="mobile-menu clearfix visible-xs visible-sm">
                                <nav id="mobile_dropdown">
                                    <ul>
                                        <li><a href="{{ path('main') }}">Главная</a></li>
                                        <li><a href="{{ path('news') }}">Новости</a></li>
                                        <li><a href="{{ path('contacts') }}">Контакты</a></li>
                                        <li><a href="{{ path('catalog') }}">Каталог</a></li>
                                        <li><a href="{{ path('question') }}">Вопрос-ответ</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- End MAinmenu Ares -->
                        <div class="col-md-2 col-sm-4 col-xs-3">
                            <ul class="menu-extra">
                                <li class="search search__open hidden-xs"><span class="ti-search"></span></li>
                                <li class="cart__menu"><a href="{{ path('cart') }}"><span class="ti-shopping-cart"></span></a></li>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('product_index') }}"><span class="ti-hummer"></span></a></li>
                                    {% endif %}
                                    <li><a href="{{ path('app_logout') }}"><span class="ti-agenda"></span></a></li>
                                {% else %}
                                    <li><a href="{{ path('app_login') }}"><span class="ti-user"></span></a></li>
                                {% endif %}
                                <li class="toggle__menu hidden-xs hidden-sm"><span class="ti-menu"></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mobile-menu-area"></div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        <!-- End Header Style -->
    {% endblock %}

    {% block body %}

    {% endblock %}

    {% block footer %}
        <!-- QUICKVIEW PRODUCT -->
        <footer class="gray-bg mt-5">
            <div class="container">
                <div class="row">
                    <div class="footer__container clearfix">
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-5 col-lg-7 col-sm-8">
                            <div class="ft__widget">
                                <div class="ft__logo">
                                    <a href="{{ path('main') }}">
                                        <img src="../images/logo/logo.png" alt="footer logo">
                                    </a>
                                </div>
                                <div class="footer-address">
                                    <ul>
                                        <li>
                                            <div class="address-icon">
                                                <i class="zmdi zmdi-pin"></i>
                                            </div>
                                            <div class="address-text">
                                                <p>Гродно, ул. Советских пограничников 2</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="address-icon">
                                                <i class="zmdi zmdi-email"></i>
                                            </div>
                                            <div class="address-text">
                                                <a href="#"> info@example.com</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="address-icon">
                                                <i class="zmdi zmdi-phone-in-talk"></i>
                                            </div>
                                            <div class="address-text">
                                                <p>+012 345 678 102 </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="social__icon">
                                    <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <!-- Start Single Footer Widget -->
                        <div class="col-md-5 col-lg-5 col-sm-6 smt-30 xmt-30">
                            <div class="ft__widget">
                                <h2 class="ft__title">Меню</h2>
                                <ul class="footer-categories">
                                    <li><a href="{{ path('main') }}">Главная</a></li>
                                    <li><a href="{{ path('catalog') }}">Каталог</a></li>
                                    <li><a href="{{ path('news') }}">Новости</a></li>
                                    <li><a href="{{ path('contacts') }}">Контакты</a></li>
                                    <li><a href="{{ path('cart') }}">Корзина</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Copyright Area -->
                <div class="htc__copyright__area">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="copyright__inner">
                                <div class="copyright text-center w-100">
                                    <p>© 2021 <a href="#">Сopyright by Arthur Terekh</a>
                                        All Right Reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Copyright Area -->
            </div>
        </footer>
    </div>
    {% endblock %}


    {% block javascripts %}
        <!-- jquery latest version -->
        <script src="../js/vendor/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap framework js -->
        <script src="../js/bootstrap.min.js"></script>
        <!-- All js plugins included in this file. -->
        <script src="../js/plugins.js"></script>
        <script src="../js/slick.min.js"></script>
        <script src="../js/owl.carousel.min.js"></script>
        <!-- Waypoints.min.js. -->
        <script src="../js/waypoints.min.js"></script>
        <!-- Main js file that contents all jQuery plugins activation. -->
        <script src="../js/main.js"></script>
        <script>
            let cartQuantity = $('.ti-shopping-cart');
            function getCookie(c_name) {
                var c_value = document.cookie,
                    c_start = c_value.indexOf(" " + c_name + "=");
                if (c_start == -1) c_start = c_value.indexOf(c_name + "=");
                if (c_start == -1) {
                    c_value = null;
                } else {
                    c_start = c_value.indexOf("=", c_start) + 1;
                    var c_end = c_value.indexOf(";", c_start);
                    if (c_end == -1) {
                        c_end = c_value.length;
                    }
                    c_value = unescape(c_value.substring(c_start, c_end));
                }
                return c_value;
            }

            $(document).ready(function() {
                var acookie = getCookie("cart");
                let count = 0;
                let cartProducts = acookie.replace('[', '').replace(']', '').split(',');
                if(acookie) {
                    for (let i = 0; i < cartProducts.length; i++){
                        if(cartProducts[i] !==  '0'){
                            count++;
                        }
                    }
                    if(count > 0) {
                        cartQuantity.text(count);
                    }
                }

            });
        </script>
    {% endblock %}
</body>
</html>
